# ===============================

# Python

# ===============================

**pycache**/
*.py[cod]
*$py.class

# ===============================

# Virtual Environments

# ===============================

venv/
env/
myenv/
.venv/

# ===============================

# Environment Variables

# ===============================

.env
.env.*

# ===============================

# Logs

# ===============================

logs/
*.log

# ===============================

# Data (Large datasets)

# ===============================

data/

# ===============================

# Models

# ===============================

models/trained/
models/staging/
*.pkl
*.joblib
*.model
*.h5

# ===============================

# MLflow

# ===============================

mlruns/

# ===============================

# DVC

# ===============================

.dvc/cache/
.dvc/tmp/
*.dvc

# ===============================

# Jupyter

# ===============================

.ipynb_checkpoints/

# ===============================

# IDE / Editor

# ===============================

.vscode/
.idea/

# ===============================

# OS Files

# ===============================

.DS_Store
Thumbs.db

# ===============================

# Build Files

# ===============================

dist/
build/
*.egg-info/

# ===============================

# Testing

# ===============================

.coverage
htmlcov/

# ===============================

# Temporary Files

# ===============================

*.tmp
*.temp
*.swp

# Jupyter
.ipynb_checkpoints/